* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle at bottom, #1a1a1a 0%, #000000 100%);
    height: 100vh;
    overflow: hidden;
    position: relative;
    color: white;
}

.fireworks-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.firework {
    position: absolute;
    left: var(--x);
    bottom: 0;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    animation: launch 4s ease-out infinite;
    animation-delay: var(--delay);
}

/* Launch Phase rocket trail */
.firework::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 10px;
    background: var(--color);
    border-radius: 50%;
    filter: drop-shadow(0 0 5px var(--color));
    animation: rocket-hide 4s step-end infinite;
    animation-delay: var(--delay);
}

/* Explosion Particles */
.explosion {
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: var(--color);
    box-shadow: 0 0 10px var(--color);
    opacity: 0;
}

/* Heart Coordinates for 36 particles */
.firework .explosion:nth-child(1) {
    --tx: 0.50px;
    --ty: -33.64px;
}

.firework .explosion:nth-child(2) {
    --tx: 3.84px;
    --ty: -43.27px;
}

.firework .explosion:nth-child(3) {
    --tx: 12.00px;
    --ty: -55.55px;
}

.firework .explosion:nth-child(4) {
    --tx: 25.50px;
    --ty: -66.18px;
}

.firework .explosion:nth-child(5) {
    --tx: 43.16px;
    --ty: -71.38px;
}

.firework .explosion:nth-child(6) {
    --tx: 62.35px;
    --ty: -69.00px;
}

.firework .explosion:nth-child(7) {
    --tx: 79.66px;
    --ty: -59.01px;
}

.firework .explosion:nth-child(8) {
    --tx: 91.69px;
    --ty: -43.14px;
}

.firework .explosion:nth-child(9) {
    --tx: 96.00px;
    --ty: -24.00px;
}

.firework .explosion:nth-child(10) {
    --tx: 91.69px;
    --ty: -4.05px;
}

.firework .explosion:nth-child(11) {
    --tx: 79.66px;
    --ty: 15.13px;
}

.firework .explosion:nth-child(12) {
    --tx: 62.35px;
    --ty: 33.00px;
}

.firework .explosion:nth-child(13) {
    --tx: 43.16px;
    --ty: 49.68px;
}

.firework .explosion:nth-child(14) {
    --tx: 25.50px;
    --ty: 65.32px;
}

.firework .explosion:nth-child(15) {
    --tx: 12.00px;
    --ty: 79.55px;
}

.firework .explosion:nth-child(16) {
    --tx: 3.84px;
    --ty: 91.32px;
}

.firework .explosion:nth-child(17) {
    --tx: 0.50px;
    --ty: 99.21px;
}

.firework .explosion:nth-child(18) {
    --tx: 0.00px;
    --ty: 102.00px;
}

.firework .explosion:nth-child(19) {
    --tx: -0.50px;
    --ty: 99.21px;
}

.firework .explosion:nth-child(20) {
    --tx: -3.84px;
    --ty: 91.32px;
}

.firework .explosion:nth-child(21) {
    --tx: -12.00px;
    --ty: 79.55px;
}

.firework .explosion:nth-child(22) {
    --tx: -25.50px;
    --ty: 65.32px;
}

.firework .explosion:nth-child(23) {
    --tx: -43.16px;
    --ty: 49.68px;
}

.firework .explosion:nth-child(24) {
    --tx: -62.35px;
    --ty: 33.00px;
}

.firework .explosion:nth-child(25) {
    --tx: -79.66px;
    --ty: 15.13px;
}

.firework .explosion:nth-child(26) {
    --tx: -91.69px;
    --ty: -4.05px;
}

.firework .explosion:nth-child(27) {
    --tx: -96.00px;
    --ty: -24.00px;
}

.firework .explosion:nth-child(28) {
    --tx: -91.69px;
    --ty: -43.14px;
}

.firework .explosion:nth-child(29) {
    --tx: -79.66px;
    --ty: -59.01px;
}

.firework .explosion:nth-child(30) {
    --tx: -62.35px;
    --ty: -69.00px;
}

.firework .explosion:nth-child(31) {
    --tx: -43.16px;
    --ty: -71.38px;
}

.firework .explosion:nth-child(32) {
    --tx: -25.50px;
    --ty: -66.18px;
}

.firework .explosion:nth-child(33) {
    --tx: -12.00px;
    --ty: -55.55px;
}

.firework .explosion:nth-child(34) {
    --tx: -3.84px;
    --ty: -43.27px;
}

.firework .explosion:nth-child(35) {
    --tx: -0.50px;
    --ty: -33.64px;
}

.firework .explosion:nth-child(36) {
    --tx: -0.00px;
    --ty: -30.00px;
}

.firework .explosion {
    animation: explode 4s ease-out infinite;
    animation-delay: var(--delay);
}

@keyframes launch {
    0% {
        bottom: 0px;
        opacity: 1;
    }

    40% {
        bottom: var(--y);
        opacity: 1;
    }

    100% {
        bottom: var(--y);
        opacity: 0;
    }
}

@keyframes rocket-hide {

    0%,
    39% {
        opacity: 1;
    }

    40%,
    100% {
        opacity: 0;
    }
}

@keyframes explode {

    0%,
    39% {
        transform: translate(0, 0) scale(0.1);
        opacity: 0;
    }

    40% {
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }

    50% {
        opacity: 1;
        transform: translate(calc(var(--tx) * 0.2), calc(var(--ty) * 0.2)) scale(1);
        /* Start expansion */
    }

    75% {
        opacity: 1;
    }

    100% {
        transform: translate(var(--tx), var(--ty)) scale(0.5);
        /* Full heart shape */
        opacity: 0;
    }
}